// typography helpers
.title {
  font-weight: 700;
  
  &--big {
    font-size: 34px;
    text-transform: uppercase;
    text-shadow: 0 0 20px rgba(0,0,0,.3);
    @include sm {
      font-size: 40px;
    }
    @include md {
      font-size: 50px;
    }
    @include lg {
      font-size: 100px;
    }
  }
  
  &--md {
    font-size: 28px;
    font-weight: 600;
    font-family: $font-size-base !important;
    @include md {
      font-size: 36px;
    }
    @include lg {
      font-size: 52px;
    }
  }
}

.para {
  font-weight: 300;
  
  &--highlight {
    font-size: 8px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    @include md {
      font-size: 10px;
      letter-spacing: 5px;
    }
  }
}



.highlight {
  color: #7EB457 !important;
}


.shadow-img {
  box-shadow: 15px 15px 40px 0px rgba(0, 0, 0, 0.2);
}