$font-color: #fff;

$font-family-base: "Inter", sans-serif;
$font-family-sans-serif: "Inter", sans-serif;
$font-family-monospace: "Inter", sans-serif;
$btn-font-family: "Kanit", sans-serif;
$headings-font-family: "Kanit", sans-serif;

$headings-font-weight: 700;

$text-dark: #1C2541;
