@import 'variables';

#deep-water-vid{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:auto;
  }
  
  #smolt-canvas{
    position: absolute !important;
    top:0 !important;
    left:0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  #smolt-text{
   position: absolute;
   display: block;
   top: 30%;  
   right:20%;
   width: 30%; 
  }

  #fish-overlay-canvas{
    position: absolute !important;
    top:0 !important;
    left:0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;  
  }

  #fish-overlay-text{
   position: absolute;
   display: block;
   top: 30%;  
   right:20%;
   width: 30%; 
  }
  

  /*
    #fishTest-canvas{
    position: absolute !important;
    top:0 !important;
    left:0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;  
  }

  #fishTest-text{
   position: absolute;
   display: block;
   top: 30%;  
   right:20%;
   width: 30%; 
  }
  */

  
  
  