#loading-chrome.loading-section {
  //position: relative;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 1;
  z-index: 9999;
  height: 100vh;
  width: 100%;
  background: #000;

  color: #fff;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  transform: translateX(0);
  
  transition: all 1s ease-in-out;

  @include rwd(1600) {
    padding-top: 55px;
  }

  &.done {
    transform: translateY(-2000px);
    z-index: -1;
    visibility: hidden;
  }

  .wrapper {
    max-width: 750px;
    width: 90%;
    margin: 0 auto;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .brand {
    margin-bottom: 0;
    img {
      width: 150px;
    }
  }

  .btn {
    text-transform: uppercase;
    font-size: 15px;
    padding: 20px 40px;
    border-radius: 0;
    border: 2px solid #fff;
    line-height: 1;
    margin-top: 20px;
    letter-spacing: 2px;
  }

  .video-bg-wrap,
  .video-overlay {
    position: absolute;
    top: 0;left: 0;
    right: 0;bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  .video-overlay {
    background-color: transparent;
    //background-image: linear-gradient(180deg, #1C2541 0%, #1C254154 100%);
    background-image: linear-gradient(180deg,rgba(28,37,65,1) 0%,rgba(28,37,65,.7) 50%,rgba(28,37,65,1) 100%)!important;
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  }

  .text {
    font-size: 14px;
  }

  #counter {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 40px;
    @include rwd(1600) {
      font-size: 69px;
    }
  }
}

#loading-center {
  position: relative;
  height: 450px;
  width: 600px;
  max-width: 94%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  pointer-events: none;

  @include rwd(1600) {
    height: 600px;
  }
}

#bg-fishes {
  position: absolute;
  top: 0;
  left: 50%;
  pointer-events: none;
  transform: translateX(-50%);

  & > div {
    height: 400px!important;
    width: 400px!important;
    margin: 0 auto;

    @include rwd(1600) {
      height: 600px!important;
      width: 600px!important;
    }
  }
}
